<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
			integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
			crossorigin="anonymous"
		/>
		<!-- <link rel="icon" href="../static/img/favicon.ico" /> -->
		<link rel="stylesheet" href="../static/css/main.css" />
		<title>View My Work</title>
	</head>

	<body>
		<header>
			<div class="menu-btn">
				<div class="btn-line"></div>
				<div class="btn-line"></div>
				<div class="btn-line"></div>
			</div>

			<nav class="menu">
				<div class="menu-branding">
					<div class="portrait"></div>
				</div>
				<ul class="menu-nav">
					<li class="nav-item">
						<a href="index.html" class="nav-link">
							Home
						</a>
					</li>
					<li class="nav-item">
						<a href="about.html" class="nav-link">
							About Me
						</a>
					</li>
					<li class="nav-item current">
						<a href="work.html" class="nav-link">
							My Work
						</a>
					</li>
					<li class="nav-item">
						<a href="contact.html" class="nav-link">
							How To Reach Me
						</a>
					</li>
				</ul>
			</nav>
		</header>

		<main id="work">
			<h1 class="lg-heading">
				My
				<span class="text-secondary">Work</span>
			</h1>
			<h2 class="sm-heading">
				Check out some of my projects. You can view more by visiting my
				<a href="https://github.com/jmutakura">Github</a>...
			</h2>
			<div class="projects">
				<div class="item">
					<a href="https://github.com/jmutakura/googleMaps_Project">
						<img src="../static/img/projects/project1.jpg" alt="Project" />
					</a>
					<a
						href="https://github.com/jmutakura/googleMaps_Project"
						class="btn-light"
					>
						<i class="fas fa-eye"></i> Google maps API Project
					</a>
					<a
						href="https://github.com/jmutakura/googleMaps_Project"
						class="btn-dark"
					>
						<i class="fab fa-github"></i> Github
					</a>
				</div>
				<div class="item">
					<a href="https://github.com/jmutakura/cupertino1">
						<img src="../static/img/projects/project2.jpg" alt="Project" />
					</a>
					<a href="https://github.com/jmutakura/cupertino1" class="btn-light">
						<i class="fas fa-eye"></i> Cupertino Dart & Flutter App
					</a>
					<a href="https://github.com/jmutakura/cupertino1" class="btn-dark">
						<i class="fab fa-github"></i> Github
					</a>
				</div>
				<div class="item">
					<a href="https://github.com/jmutakura/jtours">
						<img src="../static/img/projects/project3.jpg" alt="Project" />
					</a>
					<a href="https://github.com/jmutakura/jtours" class="btn-light">
						<i class="fas fa-eye"></i> Touring site
					</a>
					<a href="https://github.com/jmutakura/jtours" class="btn-dark">
						<i class="fab fa-github"></i> Github
					</a>
				</div>
				<div class="item">
					<a href="https://github.com/jmutakura/project1">
						<img src="../static/img/projects/project4.jpg" alt="Project" />
					</a>
					<a href="https://github.com/jmutakura/project1" class="btn-light">
						<i class="fas fa-eye"></i> Location Website
					</a>
					<a href="https://github.com/jmutakura/project1" class="btn-dark">
						<i class="fab fa-github"></i> Github
					</a>
				</div>
				<div class="item">
					<a href="https://lexusfeedbackjona.herokuapp.com/">
						<img src="../static/img/projects/project5.jpg" alt="Project" />
					</a>
					<a href="https://lexusfeedbackjona.herokuapp.com/" class="btn-light">
						<i class="fas fa-eye"></i> Lexus dealership rating system
					</a>
					<a
						href="https://github.com/jmutakura/lexusdealership"
						class="btn-dark"
					>
						<i class="fab fa-github"></i> Github
					</a>
				</div>
			</div>
		</main>

		<footer id="main-footer">
			Jonathan Mutakura | Copyright &copy; 2020
		</footer>

		<script src="../static/js/main.js"></script>
	</body>
</html>
